Whatsapp RAG AI Agent - Rajeevdaz.json
{
  "name": "Whatsapp RAG AI Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": []
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -32
      ],
      "id": "9e9e0b26-a2b6-48bd-9828-473f8b660ebd",
      "name": "WhatsApp Trigger",
      "webhookId": "5701dc9d-cdc2-48d4-9cfb-32904c9a500e",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "wtQPh2YJB6llmAhs",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=You are a helpful Whatsapp support agent. your functions are to respond to user queries by retrieving data from supabase tool. keep the answers short and relevant. At any point, if the answer isn't available in retrieved data, just reply \"one of our team member will assist you on this\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        64,
        -32
      ],
      "id": "6077da40-a0c6-4884-a181-c25d1bc983d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        176
      ],
      "id": "7f26f7d3-2a84-46af-9ef6-450b2db8ec78",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "k3JLM7qpM1T8lULw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "353861844483173",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        416,
        -32
      ],
      "id": "ccd9a018-05b0-4ec5-acad-01204db6b2d0",
      "name": "Send message",
      "webhookId": "326f03b7-b732-4d05-b2d8-63a186f97c96",
      "credentials": {
        "whatsAppApi": {
          "id": "oqYz7NSQbmK10TKa",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1184,
        -32
      ],
      "id": "02618dec-573c-4157-9e4f-dc119ffdf492",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    const data = item.json;\n    let content = \"\";\n\n    if (data.Question && data.Answer) {\n        // FAQ\n        content = `${data.Answer}`;\n    } else if (data['Product Name'] && data.Description) {\n        // Product\n        content = `Product\\nCategory: ${data.Category || \"General\"}\\nName: ${data['Product Name']}\\nDescription: ${data.Description}\\nSize: ${data.Size || \"N/A\"}\\nPrice: ${data.Price || \"N/A\"}`;\n    } else {\n        // Fallback\n        content = `Other Data\\n${JSON.stringify(data)}`;\n    }\n\n    return {\n        json: {\n            values: [],        // embedding node will fill this\n            content: content   // EVERYTHING is now vectorized\n        }\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -32
      ],
      "id": "6c8c29f6-0446-4a06-911f-2a3195855857",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -560,
        -32
      ],
      "id": "86a2c7fe-819e-446f-945d-aa3949446f80",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "i7PFLc1mXyln5IDp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -400,
        176
      ],
      "id": "c626287c-1e53-4603-b6e3-4d567b473550",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -608,
        176
      ],
      "id": "2c5567be-f701-4463-83e2-8ba273b74851",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "k3JLM7qpM1T8lULw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        144,
        176
      ],
      "id": "210bb982-4bfd-4a38-ad38-fef4829d8e5a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "l8R2W8lsrx4HABqX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to fetch general FAQs and product info",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        320,
        208
      ],
      "id": "bd4633e5-4676-41d4-9516-6a9e41c492e5",
      "name": "Knowledge Base",
      "credentials": {
        "supabaseApi": {
          "id": "i7PFLc1mXyln5IDp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        400
      ],
      "id": "75ccda49-b65a-464c-8cb4-d0de3cf9b732",
      "name": "Embeddings-OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "k3JLM7qpM1T8lULw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Knowledge Base to Vector",
        "height": 448,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        -112
      ],
      "typeVersion": 1,
      "id": "4ab86165-2890-4d7d-92ab-cc2def90857a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zn4lXbHF3kcs622lukg5I1pcKoaooXGaXxNRIAeycpk",
          "mode": "list",
          "cachedResultName": "Rag AI Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zn4lXbHF3kcs622lukg5I1pcKoaooXGaXxNRIAeycpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1044385755,
          "mode": "list",
          "cachedResultName": "Product Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zn4lXbHF3kcs622lukg5I1pcKoaooXGaXxNRIAeycpk/edit#gid=1044385755"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -976,
        -32
      ],
      "id": "cc086fd2-f513-43d3-b018-5fd8d4cbf6b5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P1mW4jnEG6mlzDRK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agent",
        "height": 656,
        "width": 832,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -112
      ],
      "typeVersion": 1,
      "id": "d2091e4f-9a15-4f08-8979-10dc3e042b8b",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings-OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "71050ed0-494f-4180-9ff0-ee65abd9a293",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06f6e7075f1ab4ab7e6067e2f88d10e978c5d9651e8eca89f14ebedb2a14112d"
  },
  "id": "Hl5h80q1WwWOU921",
  "tags": []
}